.qwe1{
    height: 50px;
    width: 400px;
    border: solid orange 1px;
    background-color: aqua;
    font-size: 18px;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;  
    justify-content: center; 
    display: flex;
    justify-content: space-evenly;
}
.qwe2{
    height: 50px;
    width: 400px;
    border: solid orange 1px;
    background-color: aqua;
    font-size: 18px; 
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;  
    justify-content: center; 
    display: flex;
    justify-content: space-evenly;   
}
.qwe3{
    height: 50px;
    width: 400px;
    border: solid orange 1px;
    background-color: aqua;
    font-size: 18px; 
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;  
    justify-content: center; 
    display: flex;
    justify-content: space-evenly;   
}
.qwe4{
    height: 50px;
    width: 400px;
    border: solid orange 1px;
    background-color: aqua;
    font-size: 18px; 
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;  
    justify-content: center; 
    display: flex;
    justify-content: space-evenly;   
}
.qwe5{
    height: 50px;
    width: 400px;
    border: solid orange 1px;
    background-color: aqua;
    font-size: 18px;  
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;  
    justify-content: center; 
    display: flex;
    justify-content: space-evenly;  
}
.qwe1:hover{
    height: 60px;
    width: 400px;
    background-color: rgb(255, 94, 0);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;
}
.qwe2:hover{
    height: 60px;
    width: 400px;
    background-color: rgb(255, 94, 0);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;
}
.qwe3:hover{
    height: 60px;
    width: 400px;
    background-color: rgb(255, 94, 0);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;
}
.qwe4:hover{
    height: 60px;
    width: 400px;
    background-color: rgb(255, 94, 0);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;
}
.qwe5:hover{
    height: 60px;
    width: 400px;
    background-color: rgb(255, 94, 0);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease;
}
p{
    font-size: 18px;
    transition: 2s all 0s ease ;
}
p:hover{
    font-size: 25px;
    transition: 2s all 0s ease ;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.qwe1:has(>.qwe1:hover){
    height: 150px;
}
